doctype html
<html lang='ru'>
head
	meta(charset="utf-8")
	meta(name="viewport",content="width=device-width, user-scalable=no")
	meta(name="apple-mobile-web-app-capable", content="yes")
	meta(name="mobile-web-app-capable", content="yes")
	link(href="/layout/css/frontend.css", rel="stylesheet")
	title Supermerkado.ru
<body>